<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.16"/>
  </properties>
  <scm class="hudson.plugins.cloneworkspace.CloneWorkspaceSCM" plugin="clone-workspace-scm@0.5">
    <parentJobName>worblehat-test-deploy</parentJobName>
    <criteria>Any</criteria>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>os</name>
      <values>
        <string>xp</string>
        <string>vista</string>
        <string>linux</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>profile</name>
      <values>
        <string>iexplorer8</string>
        <string>iexplorer9</string>
        <string>firefox</string>
        <string>chrome</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>((profile==&quot;chrome&quot; &amp;&amp; os==&quot;vista&quot;) &amp;&amp; (profile==&quot;iexplorer8&quot;).implies(os==&quot;xp&quot;) &amp;&amp; (profile==&quot;iexplorer9&quot;).implies(os==&quot;vista&quot;))</combinationFilter>
  <builders>
    <hudson.tasks.Maven>
      <targets>integration-test</targets>
      <mavenName>Maven3</mavenName>
      <pom>worblehat-acceptancetests/pom.xml</pom>
      <properties>maven.browser-profile=${profile}
maven.browser-os=${os}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <hudson.plugins.cloneworkspace.CloneWorkspacePublisher plugin="clone-workspace-scm@0.5">
      <workspaceGlob>**/*.*</workspaceGlob>
      <criteria>Any</criteria>
      <archiveMethod>TAR</archiveMethod>
      <overrideDefaultExcludes>false</overrideDefaultExcludes>
    </hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>worblehat-integration</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.locksandlatches.LockWrapper plugin="locks-and-latches@0.6">
      <locks>
        <hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
          <name>stage-test</name>
        </hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
      </locks>
    </hudson.plugins.locksandlatches.LockWrapper>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>true</runSequentially>
    <touchStoneCombinationFilter>(profile==&quot;chrome&quot; &amp;&amp; os==&quot;vista&quot;)</touchStoneCombinationFilter>
    <touchStoneResultCondition>
      <name>SUCCESS</name>
      <ordinal>0</ordinal>
      <color>BLUE</color>
    </touchStoneResultCondition>
  </executionStrategy>
</matrix-project>