*.retry
ansible/galaxy_roles
.DS_STORE
.vagrant
ansible/create-ec2-playbook.yml
ansible-from-image/create-ec2-playbook.yml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/scrum-for-developers-infra.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
