<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.DownstreamPassCondition>
      <jobs>worblehat-quality, worblehat-acceptance</jobs>
      <evenIfUnstable>false</evenIfUnstable>
    </hudson.plugins.promoted__builds.conditions.DownstreamPassCondition>
  </conditions>
  <icon>star-gold</icon>
  <buildSteps>
    <hudson.tasks.BuildTrigger>
      <childProjects>worblehat-deploy</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </buildSteps>
</hudson.plugins.promoted__builds.PromotionProcess>