<?xml version='1.0' encoding='UTF-8'?>
<jenkins.plugins.htmlaudio.app.HtmlAudioNotifierPlugin_-PluginDescriptor plugin="html-audio-notifier@0.4">
  <enabledByDefault>true</enabledByDefault>
  <longPollingEnabled>true</longPollingEnabled>
  <successSoundUrl>http://themushroomkingdom.net/sounds/wav/smb/smb_kick.wav</successSoundUrl>
  <successAfterFailureSoundUrl>http://themushroomkingdom.net/sounds/wav/smb/smb_powerup.wav</successAfterFailureSoundUrl>
  <failureSoundUrl>http://themushroomkingdom.net/sounds/wav/smb/smb_mariodie.wav</failureSoundUrl>
</jenkins.plugins.htmlaudio.app.HtmlAudioNotifierPlugin_-PluginDescriptor>