# Database Config
spring.datasource.url=jdbc:mysql://localhost:3306/worblehat_{{ worblehat_stage }}
spring.datasource.username=worblehat
spring.datasource.password=worblehat
spring.datasource.driver-class-name=com.mysql.jdbc.Driver

info.stage={{ worblehat_stage }}
logging.file=/tmp/worblehat-{{ worblehat_stage }}.log
liquibase.change-log=classpath:master.xml
spring.jpa.hibernate.ddl-auto=validate

server.port={{ worblehat_port }}

server.context-path=/worblehat-{{ worblehat_stage }}

# in case application is upgraded to Spring Boot 2.x
server.servlet.context-path=/worblehat-{{ worblehat_stage }}
spring.liquibase.change-log=classpath:master.xml

# Spring Boot Admin config
spring.boot.admin.client.url=http://localhost:9200  
spring.boot.admin.client.instance.service-base-url=http://{{ this_ip }}
management.endpoints.web.exposure.include=*  