spring.boot.admin.client.instance.service-base-url=http://{{ this_ip }}/admin
spring.boot.admin.client.url=http://localhost:9200
spring.boot.admin.ui.public-url=http://{{ this_ip }}:80/admin/
spring.profiles.active=insecure
server.port=9200 