<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
			      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>

  <servers>
  </servers>

  <proxies>
  </proxies>

  <mirrors>
  </mirrors>

  <profiles>
            <profile>
            <id>jenkins</id>
                <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
            <properties>
                <psd.environment>http://localhost/worblehat-test</psd.environment>
            </properties>
        </profile>
  </profiles>
  
  <activeProfiles>
    <activeProfile>jenkins</activeProfile>
  </activeProfiles>
  
</settings>
